@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

:root {
    --cafecreme: #aa7b51;
    --cafenoir: #553019;
    --background: #c7b299;
}

body * {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: var(--background);
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .2s;
}

a:hover {
    color: var(--cafenoir);
}

.articles a:hover {
    color: var(--cafecreme);
}

.articles a img {
    transition: transform .3s;
}

.articles a:hover img {
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#user-menu a:hover {
    color: var(--cafecreme);
}

header {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.7px;
    color: #fff;
    background-color: var(--cafenoir);
    overflow: hidden;
}

#promo {
    text-align: left;
    background-color: var(--cafecreme);
    position: relative;
    padding: .9rem 1rem;
    min-height: 62px;
    max-height: 100px;
}

#promo span {
    font-weight: bold;
    white-space: pre-line;
    text-align: left;
    overflow: hidden;
    max-height: 100px;
}

#promo .close {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    display: block;
    position: absolute;
    top: .9rem;
    right: 1rem;
    overflow: hidden;
    max-height: 100px;
}

#promo,
#promo * {
    transition: 1s;
}

#promo.hidden {
    min-height: 0px;
    max-height: 0px;
    opacity: 0;
    padding: 0 1rem;
    overflow: hidden;
}

#promo.hidden span,
#promo.hidden .close {
    max-height: 0px;
}

#user-menu {
    min-height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 0 1rem;
}

#user-menu div {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

#user-menu a {
    display: flex;
    align-items: center;
}

#user-menu a path {
    transition: fill .3s;
}

#user-menu a:hover path {
    fill: var(--cafecreme);
}

.icon {
    width: 40px;
    margin: 0 .5rem;
}

main {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 22px;
}

div.logo {
    display: block;
    margin: 0 auto;
    padding: 1rem 0 1.5rem;
}

img.logo {
    max-height: 257px;
    max-width: 100%;
}

nav {
    font-size: 23px;
    letter-spacing: .8px;
    line-height: 58px;
    color: #fff;
    margin: 0 0 0;
    padding: 0;
    background-color: var(--cafecreme);
    position: relative;
    z-index: 100;
    min-height: 72px;
}

.burger {
    position: relative;
    float: right;
    z-index: 100;
}

#burger_icon {
    height: 42px;
    width: 42px;
    margin: 15px 27px;
    position: absolute;
    top: 0;
    right: 0;
}

a #burger_icon path {
    transition: fill .3s;
}

a:hover #burger_icon path {
    fill: var(--cafenoir);
}


main nav ul {
    background-color: var(--cafecreme);
    width: 100%;
    position: absolute;
}

main nav ul li {
    padding: 7px 0;
    max-height: 72px;
}

main nav ul * {
    transition: .3s;
}
    
main nav ul.hidden li:not(:first-child) {
    /*! display: none; */
    max-height: 0;
    overflow: hidden;
    padding: 0px 0;
}

.articles.primary {
    margin: 40px 26px 0;
}

.card {
    margin: 0 0 45px;
    display: block;
}

.img-wrapper {
    position: relative;
    max-width: 428px;
    overflow: hidden;
    /*! height: 500px; */
    padding-top: 64%;
}

.img-wrapper img {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 0;
    left: 0;
}

.primary .card p {
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .19px;
}

.card-img {
    max-height: 274px;
    margin: 0 auto .65rem;
    max-width: 428px;
}

.description {
    margin: 82px 0;
    padding: 0 30px;
}

h1 {
    font-size: 54px;
    font-weight: bold;
    letter-spacing: -.4px;
    line-height: 3.8rem;
    margin: 0 0 46px;
    transition: font-size .3s;
}

h1 em {
    font-size: larger;
    color: var(--cafecreme);
}

#description p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .85px;
    line-height: 22px;
    margin-bottom: 1.25rem;
}

#description .button {
    display: inline-block;
    font-size: 29px;
    font-weight: bold;
    color: #fff;
    background-color: var(--cafecreme);
    margin: 1rem 0;
    padding: .8rem 2.2rem;
}

#description .button:hover {
    color: var(--cafecreme);
    background-color: var(--cafenoir);
}

.articles.secondary {
    margin: 94px 26px 0;
}

.secondary .card p {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .19px;
    margin: 1.4rem 0 0;
}

footer {
    color: #fff;
    background-color: var(--cafecreme);
    padding: 2.5rem 0 3rem;
}

#legals {
    line-height: 50px;
    max-width: 310px;
    margin: auto;
}

@media only screen and (max-width: 391px) {
    h1 {
        font-size: 38px;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        display: flex;
        justify-content: space-between
    }
    #promo {
        background-color: inherit;
        display: inline-block;
        min-height: 47px;
        padding: .9rem 2.5rem;
        text-align: left;
    }
    #promo span {
        display: inline-block;
        width: unset;
        min-height: unset;
        white-space: normal;
    }
    #promo .close {
        display: none;
    }
    #promo.hidden {
        min-height: 47px;
        opacity: 1;
        padding: .9rem 2.5rem;
        overflow: visible;
        display: inline-block;
    }
    #promo.hidden span {
        height: 100%;
        overflow: visible;
    }
    #user-menu {
        float: right;
        min-height: 47px;
    }
    div.logo {
        padding: .75rem 0 1.5rem;
    }
    nav {
        line-height: 44px;
    }
    nav ul {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items:center;
        max-width: 660px;
        margin: 0 auto;
    }
    main {
        padding: 0 0 49px;
    }
    main nav ul {
        position: relative;
        margin: auto;
        min-height: 72px;
    }
    main nav ul.hidden li:not(:first-child) {
        display: inherit;
        max-height: inherit;
        overflow: inherit;
        padding: 7px 0;
    }
    .burger {
        display: none;
    }
    section {
        display: flex;
        justify-content: space-between;
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .articles.primary {
        margin-top: 63px;
    }
    .card {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .primary .card {
        max-width: 541px;
    }
    .articles.secondary {
        margin-top: 48px;
    }
    .secondary .card {
        max-width: 349px;
        margin-bottom: 0;
    }
    .img-wrapper {
        margin: 0 0 .9rem;
        max-width: 100%;
    }
    .primary .card-img {
        max-width: 541px;
        max-height: 345px;
    }
    .primary .img-wrapper {
        max-width: 541px;
        max-height: 345px;
    }
    .secondary .card-img {
        max-width: 349px;
        max-height: 224px;
    }
    .secondary .img-wrapper {
        max-width: 349px;
        max-height: 224px;
    }
    .description {
        padding: 0;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .description>* {
        flex-basis: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
    #description {
        text-align: left;
    }
    #description p {
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 1rem;
        letter-spacing: 0.18px;
    }
    #description .button {
        font-size: 18px;
        padding: 0.5rem 1.5rem;
        margin: .6rem 0;
    }
    h1 {
        margin-bottom: 22px;
    }
    footer {
        padding: 2rem 0 3rem;
    }
    #legals ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .primary .card p {
        font-size: 25px;
    }
    h1 {
        font-size: 59px;
        line-height: 4.4rem;
    }

    .secondary .card p {
        font-size: 17px;
        letter-spacing: 0px;
        margin: 0;
    }
}